/*page descrption*/
body {
    font-family: Arial, sans-serif;
    background-color:violet;
    margin: 0;
    padding: 0;
    align-items: center;
    min-height: 100vh;
},
/*all headings styling*/
h1, h2, h3, h4, h5 {
    color:#555;
}
/* Navigation Styles */
 nav {
     background-color: #e2a218;
    padding: 10px; 
    text-align: center; 
}

nav ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

nav ul li {
     display: inline; 
     margin-right: 20px; 
}

nav ul li a { 
    text-decoration: none; 
    color: white; 
    font-size: 25px; 
}

nav ul li a:hover {
     color: #1abc9c; 
}
/*image styling*/
img {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 5px solid #007bff;
        object-fit: cover;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
/*id home styling*/
#home {
    border-left: 5px solid #1abc9c; 
    border-right: 20px solid #1abc9c;
    padding: 15px;
}
/*id about styling*/
#about {
    border-left: 5px solid #ee8a07;
    border-right: 20px solid #ee8a07; 
    padding-left: 15px;
}
/*id services styling*/
#services {
    border-left: 5px solid #08ca70;
    border-right: 20px solid #08ca70; 
    padding-left: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*footer styling*/
footer {
    background-color: #e6e6fa;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    size: 12px;
}
.fab {
    font-size: 24px;
    color: #1877f2; /* Facebook blue */
    transition: transform 0.2s;
  }
  
  .fab:hover {
    transform: scale(1.2);
    color:#145dbf;
  }.fab.fa-twitter {
    font-size: 24px;
    color: #1da1f2; /* Twitter blue */
    transition: transform 0.2s;
  }
  
  .fab.fa-twitter:hover {
    transform: scale(1.2);
    color: #0d8ddb;
  }
  .contact {
    color:green;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> 58ea395beb58a83c3f78dd72d68821909ea0ad0f
